.bg-cinza {
    background-color: #eeefef;
}
.under {
  text-decoration: none !important;
}
.under:hover {
  text-decoration: underline !important;
}
.fonte-phudu {
  font-family: 'Phudu', cursive !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
  outline: none;
}

@media (max-width: 991px) {
  .row [class^="col-"] {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  .row [class^="col-"] {
    flex-basis: 100%;
    max-width: 100%;
  }
}